<!DOCTYPE html>
<html>
  <head>
    <title>LegacyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Legacy app</h1>
    <nav>
      <%= link_to 'Products list', products_path %> |
      <%= link_to 'New product', new_product_path %> |
      <%= link_to 'Products comparison', comparison_products_path %>
    </nav>

    <%= yield %>

  </body>
</html>
